*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#fff;
  text-align:center;
  font-size:16px;
  line-height:1.2;
}

/* ヘッダー */
.header{
  margin:10px 0;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.logo{
  width:70px;
  height:auto;
}

.title h1{
  font-size:28px;
  font-weight:900;
  margin:0;
}

.sub{
  color:#e60012;
  font-size:14px;
}

/* カード */
.card{
  width:92%;
  max-width:420px;
  margin:10px auto;
  padding:12px;
  border:4px solid #000;
  border-radius:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
  font-size:22px;
  margin-bottom:10px;
}

/* スタンプ */
.stamp-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:8px;
}

.stamp{
  height:85px;
  border:2px dashed #aaa;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:bold;
  position:relative;
}

/* 画像 */
.stamp img{
  position:absolute;
  width:65%;
  animation: stampPop 0.4s ease-out;
}

/* アニメ */
@keyframes stampPop {
  0% {
    transform: scale(2) rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-10deg);
    opacity: 1;
  }
}

/* ボタン */
.stamp-btn {
  display: none;
  width: 200px;
  height: 60px;
  margin: 15px auto;

  background: #fff;
  color: #e60012;
  border: 4px solid #000;
  border-radius: 18px;

  font-size: 20px;
  font-weight: bold;
}

/* スマホ微調整 */
@media screen and (max-width: 600px) {

  body {
    font-size: 15px;
  }

  .stamp {
    height: 80px;
    font-size: 22px;
  }

  .title h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}